head
    // meta tags
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=9;IE=10;IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='format-detection', content='telephone=no')
    meta(name='robots', content='noindex')
    meta(name='rating', content='GENERAL')

    base(href='')
    meta(name='title', content='Арсенал Страхування')
    meta(name='description', content='Страхова компанія Арсенал пропонує Вам страхування автомобілей КАСКО. Цілодобова допомога, евакуація, ремонт та надання інформації. Оформлення страхування онлайн та по телефону.')
    meta(name='keywords', content='Арсенал, страхування, КАСКО, автомобілі, страхування автомобілей, страхова компанія, дтп, викрадення, СК арсенал, автомобіль застрахований, застрахувати автомобіль, страхування Київ, страхування автомобіля Київ, страховка автомобиля, страховая компания, застраховать автомобиль Киев, допомога при ДТП, помощь при дтп, страховка Украина, страхування Україна, автомобіль Київ страхувати, попав в дтп, інформація по страхуванню, застрахувати автомобіль Україна, я потрапив в дтп, ремонт автомобіля, сто, автомобіль ремонтувати, аварія, аварія дтп, аварія київ, евакуація автомобіля, екстренна евакуація, викрали автомобіль, автоцивілка, купити страхування, страхування автомобіля купити, покупка страховки Киев, покупка страховки Украина, получить страховку, кража автомобиля, авария, экстренная эвакуация киев, эвакуировать автомобиль Киев, автомобиль попал в аварию, застраховать машину, центр города дтп, дтп днепровский район, дтп дарницкий район, дтп соломенский район, дтп шевченковский район, машина потрапила у аварію, допомога при аварії, допомога при викраденні машини, що робити при дтп, інформація про дтп')
    meta(name='subject', content='Страхування')
    meta(name='author', content='Volta Agency')
    meta(name='language', content='uk')

    // ogp facebook
    meta(property='og:site_name', content='Арсенал Страхування')
    meta(property='og:title', content='Арсенал Страхування')
    meta(property='og:description', content='Страхова компанія Арсенал пропонує Вам страхування автомобілей КАСКО. Цілодобова допомога, евакуація, ремонт та надання інформації. Оформлення страхування онлайн та по телефону.')
    meta(property='og:type', content='website')
    meta(property='og:image:type', content='image/png')
    meta(property='og:url', content='')
    meta(property='og:image', content='img/ogp/OGP_fb.png')

    // ogp twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:title', content='Арсенал Страхування')
    meta(name='twitter:image:src', content='img/ogp/OGP_tw.png')
    meta(name='twitter:description', content='Страхова компанія Арсенал пропонує Вам страхування автомобілей КАСКО. Цілодобова допомога, евакуація, ремонт та надання інформації. Оформлення страхування онлайн та по телефону.')

    // title
    title
        block title

    // favicon
    link(rel='apple-touch-icon', sizes='57x57', href='img/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='img/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='img/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='img/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='img/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='img/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='img/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='img/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='img/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='img/favicon/favicon-16x16.png')
    link(rel='manifest', href='img/favicon/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='img/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')

    // style
    link(rel='stylesheet', type='text/css', href='css/vendor.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')

    // modernizr
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')

    <!--[if lt IE 9]>
        script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js')
    <![endif]-->

    // Global site tag (gtag.js) - Google Analytics
    //script.
    //    (function (i, s, o, g, r, a, m) {
    //        i['GoogleAnalyticsObject'] = r;
    //        i[r] = i[r] || function () {
    //            (i[r].q = i[r].q || []).push(arguments)
    //        }, i[r].l = 1 * new Date();
    //        a = s.createElement(o),
    //            m = s.getElementsByTagName(o)[0];
    //        a.async = 1;
    //        a.src = g;
    //        m.parentNode.insertBefore(a, m)
    //    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    //    ga('create', 'UA-108352810-1', {'allowAnchor': true});
    //    ga('send', 'pageview', {'page': location.pathname + location.search + location.hash});
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-110964555-1')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-110964555-1');


