#section7.section
    .overflow-first
        section.container
            .row.justify-content-center
                .col-md-11
                    h2.header-gray.text-center Поширені запитання
                    #accordion
                        h3 Навіщо мені КАСКО, якщо в мене є ОСАГО?
                            i.fa.fa-angle-down
                        div
                            p Поліс ОСАГО покриває вартість ремонту чужого автомобіля в разі, коли Ви винуватець ДТП. За полісом ОСАГО Ви не зможете компенсувати вартість ремонту свого автомобіля.
                        h3 Чому не варто купувати найдешевше КАСКО?
                            i.fa.fa-angle-down
                        div
                            p Обираючи найдешевшу страховку, існує підвищений ризик придбати низькоякісний продукт і не отримати виплату в разі ДТП.
                        h3 Як оформити КАСКО по телефону?
                            i.fa.fa-angle-down
                        div
                            p Це дуже просто! Все, що Вам потрібно - це заповнити коротку заяву. Наш представник зв'яжеться з Вами протягом 15 хвилин, назве вартість КАСКО для Вашого Авто і запропонує вказати дані про Вас і автомобіль. Вам залишається тільки підписати договір.
                        h3 Як швидко я отримаю виплату?
                            i.fa.fa-angle-down
                        div
                            p Клієнти СК Арсенал Страхування отримують страхові виплати в рекордні для українського ринку терміни - максимум 10 днів!
                        h3 Який максимальний вік автомобіля для страхування?
                            i.fa.fa-angle-down
                        div
                            p Ми приймаємо на страхування транспортні засоби віком до 10 років включно.
                        h3 Чи є обмеження у зберіганні авто?
                            i.fa.fa-angle-down
                        div
                            p За ризиком “Викрадення” страхове покриття діє в будь-якому місці та в будь-який час.



        section.container
            .row.justify-content-center
                .col-lg-11.col-md-10
                    h2.header-gray.text-center Відгуки наших клієнтів
                    .row.comments
                        .col-lg-6
                            .comment-container
                                .comment-container--image
                                    img(src='img/person/person1.jpg' title='' alt='')
                                .comment-container--description
                                    h4 Анна Бердичевская
                                    .comment-container--description-content
                                        p Хочу поблагодарить компанию "Арсенал" за внимательное отношение к клиентам, индивидуальный подход, оперативный сервис. Профессиональные и отзывчивые менеджеры – это ваше неоспоримое конкурентное преимущество.
                            .comment-container
                                .comment-container--image
                                    img(src='img/person/person3.jpg' title='' alt='')
                                .comment-container--description
                                    h4 Дмитрий Коринченко
                                    .comment-container--description-content
                                        p Отличная и честная страховая компания!

                        .col-lg-6
                            .comment-container
                                .comment-container--image
                                    img(src='img/person/person4.jpg' title='' alt='')
                                .comment-container--description
                                    h4 Виктория Нужная
                                    .comment-container--description-content
                                        p Открытость, честность, движение в правильном направлении - Удачи Вам ребята!
                            .comment-container
                                .comment-container--image
                                    img(src='img/person/person2.jpg' title='' alt='')
                                .comment-container--description
                                    h4 Артём Стародубов
                                    .comment-container--description-content
                                        p Отличная страховая! Очень перспективная, застраховали уже всё, что возможно :) Была ситуация по выплате, всё прошло на отлично, всем друзьям советую! Удачи Вам в развитии!





