#section4.section
    section.container-fluid
        .row
            .col-md-1
            .col-xl-4.col-lg-6.col-md-8
                h3 Швидкість виплат — від 3х робочих днів
                p.text-gray Від збору документів до виплати відшкодування — довірте вирішення усіх питань нам. Витрачайте час на життя, а не на паперову тяганину.

        img(src='img/illus/screen5.svg' title='' alt='' onerror="this.src='img/illus/screen5.png'").illustration.illustration5
        img(src='img/illus/screen5m.svg' title='' alt='' onerror="this.src='img/illus/screen5m.png'").illustration-mobile.illustration.illustration-mobile5
