#section3.section
    section.container-fluid
        .row.justify-content-end
            .col-lg-6.col-md-7
                h2.header-gray КАСКО —  цілодобова
                    br
                    |  допомога. Що б не сталося
                .kasko-padding
                    h2.header-big 24/7
                    ul.list-regular
                        li Цілодобовий асістенс
                        li Виїзд аварійного комісара на місце події
                        li Евакуація автомобіля з будь-якого місця
                        li Технічна допомога

        include ../svg/screen4.svg
        //img(src='img/illus/screen4.svg' title='' alt='' onerror="this.src='img/illus/screen4.png'").illustration.illustration4
        img(src='img/illus/screen4m.svg' title='' alt='' onerror="this.src='img/illus/screen4m.png'").illustration-mobile.illustration.illustration-mobile4
