#section2.section
    section.container-fluid
        .row.justify-content-md-center.justify-content-lg-start
            .col-lg-1
            .order-2.order-lg-1.last.col-md-5.col-lg-3
                ul.list-regular
                    li 1 000 000 грн гарантованих виплат щодня
                    li Компанія №1 з 100% українським капіталом
                    li Входить в Топ-5 страхових компаній України
                    li Більше 50 філій по всій країні
                    li Акредитації в більш ніж 40 банках і автосалонах
                    li Нам довіряють понад 3,5 млн. клієнтів
            .order-1.order-lg-2.col-md-6.col-lg-4.col-xl-3
                h2.header-gray КАСКО Арсенал — ваш надійний партнер
                p.text-bold Гарантуємо компенсацію збитків внаслідок непередбачуваних подій. Навіть якщо авто не підлягає ремонту.
                img(src='img/illus/screen3m.svg' title='' alt='' onerror='this.src="img/illus/screen3m.png"').illustration-mobile.illustration.illustration-mobile3
                .converse
                    a(href='' title='').link-next-text.link-next-text2
                        span.visible
                            i.fa.fa-angle-left
                            | Дiзнатися бiльше
                        span.hidden
                            | Повернутися
                            i.fa.fa-angle-right

        //include ../svg/screen3.svg
        img(src='img/illus/screen3.svg' title='' alt='' onerror="this.src='img/illus/screen3.png'").illustration.illustration3