#section5.section
    section.container
        .row.justify-content-end
            .order-2.order-md-1.col-lg-6.col-md-7.col-xl-5
                .screen-6
                    h2.header-payment За 2016 рік КАСКО Арсенал виплатив
                        span.yellow  1,2 млрд грн.
                    p.text-payment Ми не приховуємо своїх активів:
                        span.yellow 726,9 млн гривень,
                        |  що майже вдвічі більше за страхові резерви. Все це —  100% український капітал, і саме він дозволяє нам ГАРАНТУВАТИ виплати зараз і в майбутньому.
                    a(href='#' title='Хочу КАСКО' onclick="ga('send', 'event', 'cat1', 'want');").button-secondary#want-trigger ХОЧУ КАСКО
                        i.fa.fa-angle-right
            .order-1.order-md-2.col-xl-7.col-lg-6.col-md-5
                //include ../svg/screen6.svg
                img(src='img/illus/screen6.svg' title='' alt='' onerror="this.src='img/illus/screen6.png'").illustration.illustration6

