#section0.section
    section.container-fluid
        .row.justify-content-end
            .col-xl-4.col-lg-5.col-md-8
                .screen-1
                    h2 Єдине, що не придбати це час. Але можна придбати
                    h1 КАСКО
                    a(href='#screen2' title='Гортати далі').link-next
                        svg(width='16px', height='34px', viewbox='0 0 16 34', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                g(transform='translate(-768.000000, -595.000000)', fill-rule='nonzero', fill='#F78913')
                                    g(transform='translate(768.000000, 595.000000)')
                                        path(d='M0,8 L0,16 C0,20.4 3.6,24 8,24 C12.4,24 16,20.4 16,16 L16,8 C16,3.6 12.4,0 8,0 C3.6,0 0,3.6 0,8 Z M8,1.77777778 C11.4222222,1.77777778 14.2222222,4.57777778 14.2222222,8 L14.2222222,16 C14.2222222,19.4222222 11.4222222,22.2222222 8,22.2222222 C4.57777778,22.2222222 1.77777778,19.4222222 1.77777778,16 L1.77777778,8 C1.77777778,4.57777778 4.57777778,1.77777778 8,1.77777778 Z')
                                        path(d='M8,9 C8.55,9 9,8.64 9,8.2 L9,5.8 C9,5.36 8.55,5 8,5 C7.45,5 7,5.36 7,5.8 L7,8.2 C7,8.64 7.45,9 8,9 Z')
                                        polygon(points='7.7077561 33.7812799 12.3080215 29.2355927 11.1540489 28 7.7077561 31.3573695 4.15397251 28 3 29.2355927')
                        | Гортати далі
            .col-xl-1

        include ../svg/screen1.svg
        //img(src='img/illus/screen1.svg' title='' alt='' onerror="this.src='img/illus/screen1.png'").illustration.illustration1
        img(src='img/illus/screen1m.svg' title='' alt='' onerror="this.src='img/illus/screen1m.png'").illustration.illustration-mobile.illustration-mobile1

