#section1.section
    section.container-fluid
        .row.justify-content-center
            .col-lg-4.col-md-3.col-xl-2
                h3 Найкращі умови для вашого спокою
                img(src='img/illus/screen2m.svg' title='' alt='' onerror='this.src="img/illus/screen2m.png"').illustration-mobile.illustration.illustration-mobile2
            .col-xl-2.hidden-lg.hidden-md.hidden
            .col-xl-6.col-lg-7.col-md-8
                ol.list-conditions
                    li
                        h5 Франшиза 0% за ризиком ДТП
                        p Всі витрати беремо на себе. Вам не потрібно нічого відшкодовувати.
                        span 1
                    li
                        h5 Виплата відшкодування без урахування фізичного зносу
                        p Ми відшкодуємо вам вартість нових запчастин.
                        span 3
                    li
                        h5 Ремонт на авторизованому СТО
                        p Надійний автосервіс, тільки перевірені СТО.
                        span 2
                    li
                        h5 Будь-який водій за кермом
                        p Не важливо, хто був за кермом під час страхової події. Договір залишається дійсним.
                        span 4
                    li
                        h5 Без обмежень по кількості страхових подій
                        p Ви щоразу будете отримувати всю суму страхового відшкодування.
                        span 5

                a(href='' title='').link-next-text.link-next-text1
                    span.visible Дiзнатися бiльше
                        i.fa.fa-angle-right
                    span.hidden
                        i.fa.fa-angle-left
                        | Повернутися

        include ../svg/screen2.svg
