#section8.section
    .overflow-second
        section.container
            img(src='img/illus/screen9m.svg' title='' alt='' onerror='this.src="img/illus/screen9m.png"').illustration-mobile.illustration.illustration-mobile9
            .row.justify-content-center
                .col-lg-9.col-md-10
                    .footer-mail
                        h2.header-footer У вас залишились запитання?
                            br
                            |  Ми вам зателефонуємо!
                        p.text-footer.main-text Заповніть форму, та ми зателефонуюмо Вам
                            br
                            |  найближчим часом
                        p.text-footer.error-footer Заповніть всі поля
                        form.form-mail(id='question-form' method='POST' action='php/send-question.php')
                            input(type='text' name='name' placeholder='Введіть Ім’я' required)
                            input(type='tel' name='tel' id='phone' placeholder='Номер телефону' required)

                            button(type='submit' onclick="ga('send', 'event', 'cat1', 'foot');").button-secondary Відправити

                    .footer-mail-success
                        h2.header-footer Дякуємо
                            br
                            |  Ми вам зателефонуємо!
                        p.text-footer Заповніть форму, та ми зателефонуюмо Вам
                            br
                            |  найближчим часом
                        a(href='' title='').button-secondary.btn-success Добре

            include ../svg/screen9.svg

        include ../partials/_footer