//SCREEN ANIMATION
//SCREEN 1
.line1 {
  transform-origin 50% 50%
}

.line2 {
  transform-origin 50% 50%
}

.line3 {
  transform-origin 50% 50%
}

.house1 {
  transform-origin 500px 1200px
}

.house2 {
  transform-origin 400px 1100px
}

.house3 {
  transform-origin 1000px 1000px
}

.house4 {
  transform-origin 1500px 1300px
}

.sand {
  transform-origin 1000px 1000px
}

.grass {
  transform-origin 1000px 1000px
}

.crash {
  visibility hidden
}

.bus_crash {
  transform-origin 160px 1600px
}

.gelik_crash {
  transform-origin 160px 1600px
}

.casco_car_right {
  visibility hidden
  transform-origin 500px 1500px;
}

.pin {
  opacity 0;
}

.crash-tormoz {
  opacity 0
}

//SCREEN 2
.line12 {
  transform-origin 50% 50%
}

.line22 {
  transform-origin 50% 50%
}

.line32 {
  transform-origin 50% 50%
}

.house12 {
  transform-origin 150px 350px
}

.house22 {
  transform-origin 400px 220px
}

.house32 {
  transform-origin 250px 200px
}

.house42 {
  transform-origin 150px 200px
}

.house52 {
  transform-origin 300px 150px
}

.sand2 {
  transform-origin 500px 300px
}

.grass2 {
  transform-origin 500px 300px
}

.tormoz-crash2 {
  opacity: 0;
}

.gelik-after-crash2 {
  -webkit-transform-origin: 300px 400px;
  -ms-transform-origin: 300px 400px;
  transform-origin: 300px 400px;
}

.cascocar-after-crash-2 {
  -webkit-transform-origin: 300px 400px;
  -ms-transform-origin: 300px 400px;
  transform-origin: 300px 400px;
}

.blinks2 {
  opacity: 0;
}

.secondstagelight {
  opacity 0
}

.crash2 {
  visibility hidden;
}

.pin2 {
  opacity 0
}

//SCREEN 3
.line13 {
  transform-origin 50% 50%
}

.line23 {
  transform-origin 50% 50%
}

.line33 {
  transform-origin 50% 50%
}

.house13 {
  transform-origin: 3250px 1750px;
}

.house23 {
  transform-origin 3000px 1900px
}

.house33 {
  transform-origin 2850px 1950px
}

.house43 {
  transform-origin 2780px 2050px
}

.sand3 {
  transform-origin 3000px 2000px
}

.grass3 {
  transform-origin 3000px 2000px
}

.most-crash {
  opacity 0
}

.car31 {
  transform-origin 2600px 2200px
}

.car32 {
  transform-origin 2600px 2200px
}

.car33 {
  transform-origin 2600px 2200px
}

.car36 {
  transform-origin 3675px 2050px
}

.pin3 {
  opacity 0
}