.illustration
  position absolute
  z-index -1

.illustration-mobile
  display none

.illustration-mobile1
  position: relative;
  width: calc(100% + 30px);
  left: -15px;
  +mobile()
    display block

.illustration-mobile2
  position: relative;
  width: calc(100% + 30px);
  left: -15px;
  margin-bottom 100px
  +mobile()
    display block

.illustration-mobile3
  position: relative;
  width: calc(100% + 30px);
  left: -15px;
  margin-bottom 135px
  +mobile()
    display block

.illustration-mobile4
  position: relative;
  width: calc(100% + 30px);
  left: -15px;
  margin-bottom 190px
  +mobile()
    display block

.illustration-mobile5
  position: relative;
  width: calc(100% + 30px);
  left: -15px;
  margin-top 65px
  bottom -15px
  z-index 20
  +mobile()
    display block

.illustration-mobile7
  position: relative;
  width: calc(100% + 30px);
  left: -15px;
  margin-bottom 60px
  margin-top 130px
  +mobile()
    display block

.illustration-mobile9
  position: absolute;
  width: calc(100% + 30px);
  top -50px
  margin-bottom 40px
  z-index 1
  right 15px
  max-width 250px
  +mobile()
    display block

@import 'illustrations/illustration1'
@import 'illustrations/illustration2'
@import 'illustrations/illustration3'
@import 'illustrations/illustration4'
@import 'illustrations/illustration5'
@import 'illustrations/illustration6'
@import 'illustrations/illustration7'
@import 'illustrations/illustration9'
@import 'illustrations/illustration10'