.illustration
  position absolute
  z-index -1

.illustration-mobile
  display none

.illustration-mobile1
  position: relative;
  width: calc(100% + 30px);
  left: -15px;
  +mobile()
    display block

.illustration-mobile2
  position: relative;
  width: calc(100% + 30px);
  left: -15px;
  margin-bottom 100px
  +mobile()
    display block

.illustration-mobile3
  position: relative;
  width: calc(100% + 30px);
  left: -15px;
  margin-bottom 135px
  +mobile()
    display block

.illustration-mobile4
  position: relative;
  width: calc(100% + 30px);
  left: -15px;
  margin-bottom 190px
  +mobile()
    display block

.illustration-mobile5
  position: relative;
  width: calc(100% + 30px);
  left: -15px;
  margin-top 65px
  bottom -15px
  z-index 20
  +mobile()
    display block

.illustration-mobile7
  position: relative;
  width: calc(100% + 30px);
  left: -15px;
  margin-bottom 60px
  margin-top 130px
  +mobile()
    display block

.illustration-mobile9
  position: absolute;
  width: calc(100% + 30px);
  top -50px
  margin-bottom 40px
  z-index 1
  right 15px
  max-width 250px
  +mobile()
    display block


.illustration1
  bottom 0
  left 0
  height 100vh
  +tablet()
    left: -4%;
  +portrait()
    height auto
    width 120%
  +mobile()
    display none

.illustration2
  width 100%
  bottom 0
  left 0
  +portrait()
    width 165%
  +mobile()
    display none

.illustration3
  right: 0
  height 100vh
  bottom: 0
  +tablet()
    width auto
    height 100vh
    bottom 0
  +portrait()
    height 68vh
    width auto
  +mobile()
    display none

.illustration4
  bottom 0
  left 0
  height: 72%;
  +tablet()
    height 68%
  +portrait()
    height auto
    width 100%
  +mobile()
    display none

.illustration5
  bottom 0
  right 0
  width 100%
  +portrait()
    width 150%
  +mobile()
    display: none

.illustration6
  top: 19%
  left: calc(15px + 8.333333%)
  max-width 524px
  width 100%
  z-index 1
  +mobile()
    position relative
    top auto
    left auto
    margin-top 150px
    margin-bottom 56px

.illustration7
  bottom 0
  left 0
  width 100%
  +portrait()
    width 140%
  +mobile()
    display none

.illustration9
  top: 16%;
  left: 24%;
  z-index 1
  +tablet()
    width 900px
    left 10%
  +mobile()
    display none

.illustration10
  top 22%
  right 0
  width 100%
  z-index -1
  opacity 0
  +tablet()
    top 30%
  +portrait()
    top 30%
  +mobile()
    top 30%