.screen-1
  padding-top 34%
  +tablet()
    padding-top 44%
  +portrait()
    padding-top 0

.screen-6
  padding-top 19%
  +portrait()
    padding-top 0
  +mobile()
    padding-top 0
    margin-bottom 200px

#section0
  +portrait()
    section
      min-height 60vh

#section1
  width 138.4vw
  transitions()
  section
    min-height: 68.5vh;
    h3
      margin: 40px 0;
  +mobile()
    width auto

#section1.transformation
  transform translateX(-38.4vw)
  +mobile()
    transform none

#section2
  width 138.4vw
  transitions()
  transform translateX(-38.4vw)
  +portrait()
    width auto
    transform none
  +mobile()
    width auto
    transform none
  section
    min-height: 39vh;
    +portrait()
      min-height 60vh

#section2.transformation
  transform none

#section3
  section
    min-height: 58vh;

#section4
  section
    min-height: 55.5vh;
    +mobile()
      margin-bottom 0

#section5
  background $green
  position relative
  .fp-scroller
    overflow visible


#section6
  section
    min-height: 33.5vh;


#section7
  section
    min-height 70vh

#section8
  position relative
  background $green
  .row
    position relative
    z-index 2
  +mobile()
    section
      padding-top 175px
      padding-bottom 0px
      margin-bottom 0

.kasko-padding
  margin-left 235px
  +portrait()
    margin-left 25%
  +mobile()
    margin-left 0
    margin-bottom 60px

.fp-viewing-screen6, .fp-viewing-screen9
  nav
    background $white

.fp-viewing-screen1
  nav
    li
      a
        color: $gray-text4
    li:nth-child(1)
      a
        color $black-text

.fp-viewing-screen2
  nav
    li
      a
        color: $gray-text4
    li:nth-child(2)
      a
        color $black-text

.fp-viewing-screen3
  nav
    li
      a
        color: $gray-text4
    li:nth-child(3)
      a
        color $black-text

.fp-viewing-screen4
  nav
    li
      a
        color: $gray-text4
    li:nth-child(4)
      a
        color $black-text

.fp-viewing-screen5
  nav
    li
      a
        color: $gray-text4
    li:nth-child(5)
      a
        color $black-text

.fp-viewing-screen6
  nav
    li
      a
        color: $gray-text4
    li:nth-child(6)
      a
        color $black-text


.fp-viewing-screen8
  nav
    li
      a
        color: $gray-text4
    li:nth-child(7)
      a
        color $black-text

.fp-viewing-screen9
  nav
    li
      a
        color: $gray-text4
    li:nth-child(8)
      a
        color $black-text

.fp-viewing-screen10
  nav
    li
      a
        color: $gray-text4
    li:nth-child(9)
      a
        color $black-text
.fp-viewing-screen11
  nav
    li
      a
        color: $gray-text4
    li:nth-child(9)
      a
        color $black-text


