@import '../../utilities/vars'
@import '../../utilities/mixins'

#section7
  overflow scroll
  height 100vh
  section
    overflow scroll
    height 100vh
    .row
      overflow scroll
      height 100vh
    .col-lg-10.col-md-11
      overflow scroll
      height 100vh