//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Арсенал Страхування

block content

    include screens/screen1.pug
    include screens/screen2.pug
    include screens/screen3.pug
    include screens/screen4.pug
    include screens/screen5.pug
    include screens/screen6.pug
    include screens/screen7.pug
    include screens/screen8.pug
    include screens/screen9.pug
