.illustration1
  bottom 0
  left 0
  height 100vh
  +tablet()
    left: -4%;
  +portrait()
    height auto
    width 120%
  +mobile()
    display none
  .st0{fill:#CED1D2;}
  .st1{fill:#E7E7E7;}
  .st2{fill:#F8F4E5;}
  .st3{fill:#CBE295;}
  .st4{fill:#C6C6C6;}
  .st5{fill:#2D2D2D;}
  .st6{fill:#BC9F77;}
  .st7{fill:#9C8156;}
  .st8{fill:#93B855;}
  .st9{fill:#89A45E;}
  .st10{fill:#A2CF76;}
  .st11{opacity:0.14;}
  .st12{opacity:0.22;}
  .st13{fill:#9DAC76;}
  .st14{fill:#826C48;}
  .st15{fill:#D4B386;}
  .st16{fill:#738A4F;}
  .st17{fill:#476D32;}
  .st18{fill:#E8B95F;}
  .st19{fill:#DD8787;}
  .st20{fill:#F1CD87;}
  .st21{fill:#BFBFBF;}
  .st22{fill:#E0E0E0;}
  .st23{fill:#7B667D;}
  .st24{enable-background:new    ;}
  .st25{fill:#E6E6E6;}
  .st26{fill:#B3B3B3;}
  .st27{fill:#F2F2F2;}
  .st28{fill:#31ACEE;}
  .st29{fill:#FFFFFF;}
  .st30{fill:#4DC3F7;}
  .st31{fill:#76DCFF;}
  .st32{fill:#999999;}
  .st33{fill:#383838;}
  .st34{fill:#858585;}
  .st35{fill:#666666;}
  .st36{fill:#545454;}
  .st37{fill:#8A8A8A;}
  .st38{fill:#C0BEB3;}
  .st39{fill:#A3576D;}
  .st40{fill:#E3B7AB;}
  .st41{fill:#A086A3;}
  .st42{fill:#EECABE;}
  .st43{fill:#279164;}
  .st44{fill:#43C48E;}
  .st45{fill:#4CB08F;}
  .st46{fill:#409B74;}
  .st47{fill:#0F8253;}
  .st48{fill:#808080;}
  .st49{fill:#4D4D4D;}
  .st50{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
  .st51{fill:#DEB188;}
  .st52{fill:#FFE59A;}
  .st53{fill:#CCA37C;}
  .st54{fill:#FCF0D9;}
  .st55{fill:#EED791;}
  .st56{fill:#CCCCCC;}
  .st57{fill:#56757C;}
  .st58{fill:#474657;}
  .st59{fill:#6C929B;}
  .st60{fill:#B0AA80;}
  .st61{fill:#477A75;}
  .st62{fill:#C4B0A4;}
  .st63{fill:#F4EEC7;}
  .st64{fill:#5C7D85;}
  .st65{fill:#C4BFAA;}
  .st66{fill:#A56F77;}
  .st67{fill:#773551;}
  .st68{fill:#B29F99;}
  .st69{fill:#8D898F;}
  .st70{fill:#CCB9B4;}
  .st71{fill:#E2D2CF;}
  .st72{fill:#A77777;}
  .st73{fill:#5B9997;}
  .st74{fill:#558E8A;}
  .st75{fill:#A0696D;}
  .st76{fill:#C5A4A0;}
  .st77{fill:#6E405C;}
  .st78{fill:#E7A491;}
  .st79{fill:#C07576;}
  .st80{fill:#C38B7C;}
  .st81{fill:#5D7F87;}
  .st82{fill:#93555D;}
  .st83{fill:#8F6067;}
  .st84{fill:#8A6977;}
  .st85{fill:#BF7A79;}
  .st86{fill:none;}
  .st87{fill:#B4949A;}
  .st88{fill:#CCB1A6;}
  .st89{fill:#D3CDC7;}
  .st90{fill:#847680;}
  .st91{fill:#685D66;}
  .st92{fill:#BAA298;}
  .st93{fill:#615C66;}
  .st94{fill:#A18D85;}
  .st95{fill:#65606A;}
  .st96{fill:#CBC2BF;}
  .st97{fill:#B0C3E4;}
  .st98{fill:#BD9790;}
  .st99{fill:#B3ADA8;}
  .st100{fill:#84293F;}
  .st101{fill:none;stroke:#CDD0D3;stroke-miterlimit:10;}
  .st102{fill:#929595;}
  .st103{fill:#A1A4A5;}
  .st104{fill:#6A5C03;}
  .st105{fill:#D3AA00;}
  .st106{fill:#DCCB24;}
  .st107{fill:#F2E600;}
  .st108{fill:#7C7860;}
  .st109{fill:#635F4C;}
  .st110{fill:#E5BE1A;}
  .st111{opacity:0.65;}
  .st112{fill:#725E17;}
  .st113{fill:#947A20;}
  .st114{opacity:0.5;}
  .st115{fill:#7D671A;}
  .st116{fill:#D9B330;}
  .st117{fill:#B69728;}
  .st118{fill:#CDAA2D;}
  .st119{fill:#E8C74A;}
  .st120{fill:#912200;}
  .st121{fill:#741D07;}
  .st122{opacity:0.2;}
  .st123{fill:#420500;}
  .st124{fill:#AFAFAF;}
  .st125{fill:#B7B7B7;}
  .st126{fill:#848484;}
  .st127{fill:#D33700;}
  .st128{fill:#424242;}
  .st129{fill:#D3B900;}
  .st130{fill:#4C4C60;}
  .st131{fill:#5A5A70;}
  .st132{fill:#272A39;}
  .st133{fill:#4E4E62;}
  .st134{fill:#001215;}
  .st135{fill:#1E1E1E;}
  .st136{fill:#5E5E5E;}
  .st137{fill:#141414;}
  .st138{fill:#373747;}
  .st139{fill:#232323;}
  .st140{fill:#161616;}
  .st141{fill:#374E5A;}
  .st142{opacity:0.49;}
  .st143{fill:#DDDDDD;}
  .st144{fill:#A5A5A5;}
  .st145{fill:#8C8C8C;}
  .st146{fill:#2E3141;}
  .st147{fill:#181B26;}
  .st148{fill:#0C0E14;}
  .st149{fill:#323644;}
  .st150{fill:#282C38;}
  .st151{fill:#3A3A48;}
  .st152{fill:#484859;}
  .st153{fill:#515164;}
  .st154{fill:#272A38;}
  .st155{fill:#1D1F2B;}
  .st156{fill:#090A0D;}
  .st157{fill:#21242F;}
  .st158{fill:#0E0F14;}
  .st159{fill:#12131A;}
  .st160{opacity:0.15;}
  .st161{fill:#1F222E;}
  .st162{fill:#5B5B5B;}
  .st163{fill:#444444;}
  .st164{fill:#AAAAAA;}
  .st165{fill:#9E9E9E;}
  .st166{fill:#777777;}
  .st167{fill:#1B1D28;}
  .st168{fill:#232633;}
  .st169{fill:#383848;}
  .st170{fill:#333333;}
  .st171{fill:#282828;}
  .st172{fill:#4C4C4C;}
  .st173{clip-path:url(#SVGID_4_);}
  .st174{clip-path:url(#SVGID_6_);fill:#38261E;}
  .st175{clip-path:url(#SVGID_4_);fill:#D33700;}
  .st176{fill:#D16D00;}
  .st177{opacity:0.19;}
  .st178{opacity:0.45;}
  .st179{opacity:0.4;}
  .st180{fill:#934900;}
  .st181{clip-path:url(#SVGID_8_);fill:#DB8907;}
  .st182{fill:#007B3C;}
  .st183{fill:#009548;}
  .st184{fill:#00752F;}
  .st185{fill:#004E23;}
  .st186{fill:#1A1A1A;}
  .st187{fill:#AEB0B2;}
  .st188{fill:#0D592F;}
  .st189{fill:#829298;}
  .st190{fill:#FF8900;}
  .st191{fill:#4EB548;}
  .st192{fill:#AA5F0E;}
  .st193{fill:#EACD53;}
  .st194{fill:#646A7D;}
  .st195{opacity:0.5;fill:#646A7D;enable-background:new    ;}
  .st196{fill:#444356;}
  .st197{opacity:0.49;enable-background:new    ;}
  .st198{opacity:0.5;enable-background:new    ;}
  .st199{fill:#DCBBAA;}
  .st200{fill:#FCEBD1;}
  .st201{fill:#E5BDBD;}
  .st202{fill:#AC706F;}
  .st203{fill:#E5D2D9;}
  .st204{fill:#AE83A1;}
  .st205{fill:#733E5C;}
  .st206{fill:#76575A;}
  .st207{fill:#C6B4BB;}
  .st208{fill:#AB8AA7;}
  .st209{fill:#BD918A;}
  .st210{fill:#FCF4DF;}
  .st211{fill:#FFFBEF;}
  .st212{fill:#EEE8CD;}
  .st213{fill:#D1C5B7;}
  .st214{fill:#684C5A;}
  .st215{fill:#DCB7A5;}
  .st216{fill:#937983;}
  .st217{clip-path:url(#SVGID_10_);fill:#E6E6E6;}
  .st218{fill:#00712E;}

