.illustration2
  width 100%
  bottom 0
  left 0
  +portrait()
    width 165%
  +mobile()
    display none
  .st0{fill:#F8F4E5;}
  .st1{fill:#F3E691;}
  .st2{opacity:0.5;fill:#8E96B2;}
  .st3{fill:#2D2D2D;}
  .st4{fill:#BC9F77;}
  .st5{fill:#9C8156;}
  .st6{fill:#93B855;}
  .st7{fill:#89A45E;}
  .st8{fill:#A2CF76;}
  .st9{opacity:0.14;}
  .st10{opacity:0.22;}
  .st11{fill:#7F938E;}
  .st12{fill:#CBE295;}
  .st13{fill:#CED1D2;}
  .st14{fill:#E7E7E7;}
  .st15{opacity:0.1;fill:#231F20;}
  .st16{fill:#F6F6F6;}
  .st17{fill:#A3576D;}
  .st18{fill:#6E405C;}
  .st19{fill:#575D63;}
  .st20{fill:#6B727B;}
  .st21{fill:#DD8787;}
  .st22{fill:#8A6977;}
  .st23{fill:#BF7A79;}
  .st24{fill:#FFFFFF;}
  .st25{fill:#CCCCCC;}
  .st26{fill:#999999;}
  .st27{fill:#56757C;}
  .st28{fill:#F1CD87;}
  .st29{fill:#C5A4A0;}
  .st30{fill:#BDBDBD;}
  .st31{fill:#C0BEB3;}
  .st32{fill:#C6C6C6;}
  .st33{fill:#7E8A9E;}
  .st34{fill:#919CAD;}
  .st35{fill:#9FA4AF;}
  .st36{fill:#C7D6D3;}
  .st37{fill:#E9FAF6;}
  .st38{fill:#BDC9DE;}
  .st39{fill:#8BA8A8;}
  .st40{fill:#8A97AD;}
  .st41{fill:#779191;}
  .st42{fill:#899FB8;}
  .st43{fill:#AFD2DA;}
  .st44{fill:#D1DEE5;}
  .st45{fill:#BAC6CB;}
  .st46{fill:#8BAEA4;}
  .st47{clip-path:url(#SVGID_2_);fill:#575D63;}
  .st48{fill:#A8BAB9;}
  .st49{fill:#90A6BF;}
  .st50{fill:#DFE5E4;}
  .st51{fill:#EFF2F4;}
  .st52{fill:#9EB9C0;}
  .st53{fill:#738796;}
  .st54{fill:#8B9DAB;}
  .st55{fill:#B7C6C3;}
  .st56{clip-path:url(#SVGID_4_);fill:#575D63;}
  .st57{fill:#7C94A4;}
  .st58{fill:#A1A4A5;}
  .st59{fill:#9DAC76;}
  .st60{fill:#B6C3CC;}
  .st61{fill:#97A8A5;}
  .st62{fill:#8B9AA5;}
  .st63{fill:#D7E2DF;}
  .st64{fill:#EBEBEB;}
  .st65{fill:#CFCFCF;}
  .st66{fill:#6C929B;}
  .st67{fill:#7B96A3;}
  .st68{fill:#AFB7BD;}
  .st69{fill:#CCD3DB;}
  .st70{fill:#717D7C;}
  .st71{fill:#BFBFBF;}
  .st72{fill:#969595;}
  .st73{fill:#E3E3E3;}
  .st74{fill:#F4F4F4;}
  .st75{fill:#ADADAD;}
  .st76{fill:#8F9DA1;}
  .st77{fill:#E5E5E5;}
  .st78{fill:#9AA6A4;}
  .st79{fill:#D8E0E8;}
  .st80{fill:#E0E0E0;}
  .st81{fill:#826C48;}
  .st82{fill:#D4B386;}
  .st83{fill:#738A4F;}
  .st84{fill:#476D32;}
  .st85{fill:#383838;}
  .st86{fill:#858585;}
  .st87{fill:#666666;}
  .st88{fill:#545454;}
  .st89{fill:#B3B3B3;}
  .st90{fill:#8A8A8A;}
  .st91{fill:#DEB188;}
  .st92{fill:#FFE59A;}
  .st93{fill:#005C8A;}
  .st94{fill:#74A0B8;}
  .st95{fill:#437599;}
  .st96{fill:#DFF0EC;}
  .st97{enable-background:new    ;}
  .st98{fill:#84293F;}
  .st99{fill:#A6B2BD;}
  .st100{fill:none;stroke:#CDD0D3;stroke-miterlimit:10;}
  .st101{fill:#70C2ED;}
  .st102{fill:#912200;}
  .st103{fill:#D33700;}
  .st104{fill:#72210E;}
  .st105{clip-path:url(#SVGID_6_);fill:#C65532;}
  .st106{fill:#C48C00;}
  .st107{fill:#EDAF00;}
  .st108{fill:#755816;}
  .st109{clip-path:url(#SVGID_8_);fill:#C19D42;}
  .st110{fill:#207500;}
  .st111{fill:#3DAA1A;}
  .st112{fill:#113504;}
  .st113{clip-path:url(#SVGID_10_);fill:#5C9347;}
  .st114{clip-path:url(#SVGID_12_);fill:#C65532;}
  .st115{clip-path:url(#SVGID_14_);fill:#C19D42;}
  .st116{clip-path:url(#SVGID_16_);fill:#5C9347;}
  .st117{clip-path:url(#SVGID_18_);fill:#C65532;}
  .st118{clip-path:url(#SVGID_20_);fill:#C19D42;}
  .st119{clip-path:url(#SVGID_22_);fill:#5C9347;}
  .st120{clip-path:url(#SVGID_24_);fill:#C65532;}
  .st121{clip-path:url(#SVGID_26_);fill:#C19D42;}
  .st122{clip-path:url(#SVGID_28_);fill:#5C9347;}
  .st123{fill:#DCBBAA;}
  .st124{fill:#BD918A;}
  .st125{fill:#FCEBD1;}
  .st126{fill:#DCB7A5;}
  .st127{fill:#E5D2D9;}
  .st128{fill:#E5BDBD;}
  .st129{fill:#76575A;}
  .st130{fill:#917D71;}
  .st131{fill:#B8AD99;}
  .st132{fill:#FCF4DF;}
  .st133{fill:#FFFBEF;}
  .st134{fill:#EEE8CD;}
  .st135{fill:#D1C5B7;}
  .st136{fill:#43C48E;}
  .st137{fill:#279164;}
  .st138{fill:#4CB08F;}
  .st139{fill:#0F8253;}
  .st140{fill:#409B74;}
  .st141{fill:#808080;}
  .st142{fill:#4D4D4D;}
  .st143{clip-path:url(#SVGID_30_);fill:#E6E6E6;}
  .st144{fill:#929595;}
  .st145{fill:#007B3C;}
  .st146{fill:#009548;}
  .st147{fill:#00752F;}
  .st148{fill:#004E23;}
  .st149{fill:#333333;}
  .st150{fill:#1A1A1A;}
  .st151{fill:#AEB0B2;}
  .st152{clip-path:url(#SVGID_32_);fill:#FFFFFF;}
  .st153{clip-path:url(#SVGID_34_);fill:#FFFFFF;}
  .st154{fill:#0D592F;}
  .st155{fill:#829298;}
  .st156{fill:#FF8900;}
  .st157{fill:#4EB548;}
  .st158{fill:#AA5F0E;}
  .st159{fill:#4A4A4A;}
  .st160{fill:#272A39;}
  .st161{fill:#5A5A70;}
  .st162{fill:#4E4E62;}
  .st163{clip-path:url(#SVGID_36_);}
  .st164{fill:#1E1E1E;}
  .st165{clip-path:url(#SVGID_38_);fill:#5E5E5E;}
  .st166{fill:#141414;}
  .st167{clip-path:url(#SVGID_40_);fill:#5E5E5E;}
  .st168{clip-path:url(#SVGID_42_);fill:#5E5E5E;}
  .st169{fill:#232323;}
  .st170{fill:#161616;}
  .st171{fill:#4F4F4F;}
  .st172{fill:#444356;}
  .st173{fill:#383848;}
  .st174{clip-path:url(#SVGID_44_);}
  .st175{fill:#DDDDDD;}
  .st176{fill:#A5A5A5;}
  .st177{clip-path:url(#SVGID_46_);fill:#8C8C8C;}
  .st178{fill:#374E5A;}
  .st179{opacity:0.49;}
  .st180{opacity:0.5;}
  .st181{clip-path:url(#SVGID_48_);}
  .st182{clip-path:url(#SVGID_50_);fill:#8C8C8C;}
  .st183{clip-path:url(#SVGID_52_);}
  .st184{clip-path:url(#SVGID_54_);fill:#5E5E5E;}
  .st185{clip-path:url(#SVGID_56_);fill:#5E5E5E;}
  .st186{clip-path:url(#SVGID_58_);fill:#5E5E5E;}
  .st187{clip-path:url(#SVGID_60_);}
  .st188{clip-path:url(#SVGID_62_);fill:#8C8C8C;}
  .st189{clip-path:url(#SVGID_64_);}
  .st190{clip-path:url(#SVGID_66_);fill:#8C8C8C;}
  .st191{fill:#5E0000;}
  .st192{fill:#DE5252;}
  .st193{fill:#CF2E2E;}
  .st194{fill:#910F0F;}
  .st195{fill:#191818;}
  .st196{fill:#3F3F3F;}
  .st197{fill:#A62929;}
  .st198{fill:#7C7860;}
  .st199{fill:#7C7C7C;}
  .st200{fill:#424242;}
  .st201{fill:#E6E6E6;}
  .st202{fill:#660505;}
  .st203{fill:#282828;}
  .st204{fill:#06091C;}
  .st205{clip-path:url(#SVGID_68_);fill:#5E5E5E;}
  .st206{clip-path:url(#SVGID_70_);fill:#5E5E5E;}
  .st207{clip-path:url(#SVGID_72_);}
  .st208{clip-path:url(#SVGID_74_);fill:#8C8C8C;}
  .st209{opacity:0.35;}
  .st210{opacity:0.2;}
  .st211{opacity:0.1;}
  .st212{clip-path:url(#SVGID_76_);fill:#FFFFFF;}
  .st213{clip-path:url(#SVGID_78_);fill:#FFFFFF;}
  .st214{opacity:0.44;fill:#F4CC03;}
  .st215{opacity:0.44;fill:#F20808;}
  .st216{opacity:0.44;fill:#49DD12;}
  .st217{fill:#00712E;}
