.illustration7
  bottom 0
  left 0
  width 100%
  +portrait()
    width 140%
  +mobile()
    display none
  .st0{fill:#F8F4E5;}
  .st1{fill:#CBE295;}
  .st2{fill:#CED1D2;}
  .st3{fill:url(#SVGID_1_);}
  .st4{fill:#E7E7E7;}
  .st5{fill:#CCCAB9;}
  .st6{opacity:0.2;fill:#231F20;}
  .st7{fill:#B4949A;}
  .st8{fill:#CCB1A6;}
  .st9{fill:#D3CDC7;}
  .st10{fill:#C7D6D3;}
  .st11{fill:#7B848C;}
  .st12{fill:#F0F7F5;}
  .st13{fill:#A3576D;}
  .st14{fill:#773551;}
  .st15{fill:#DD8787;}
  .st16{fill:#F5CBC7;}
  .st17{fill:#BDC9DE;}
  .st18{fill:#AFD2DA;}
  .st19{fill:#FFFFFF;}
  .st20{fill:#A6B2BD;}
  .st21{fill:#C5A4A0;}
  .st22{fill:#BAC6CB;}
  .st23{fill:#8BAEA4;}
  .st24{fill:#6C929B;}
  .st25{fill:#D1DEE5;}
  .st26{fill:#A0696D;}
  .st27{fill:#6B727B;}
  .st28{fill:#575D63;}
  .st29{fill:#E9FAF6;}
  .st30{fill:#9FA4AF;}
  .st31{fill:#8A97AD;}
  .st32{fill:#36393D;}
  .st33{fill:#2D2D2D;}
  .st34{fill:#BC9F77;}
  .st35{fill:#9C8156;}
  .st36{fill:#93B855;}
  .st37{fill:#89A45E;}
  .st38{fill:#A2CF76;}
  .st39{opacity:0.14;}
  .st40{opacity:0.22;}
  .st41{fill:#826C48;}
  .st42{fill:#D4B386;}
  .st43{fill:#738A4F;}
  .st44{fill:#476D32;}
  .st45{fill:#E5E5E5;}
  .st46{fill:#A1B3B2;}
  .st47{fill:#B4C7C6;}
  .st48{fill:#56757C;}
  .st49{fill:#999999;}
  .st50{fill:#CCCCCC;}
  .st51{fill:#EBF2F2;}
  .st52{fill:#C4D1D1;}
  .st53{fill:#F5F5F5;}
  .st54{fill:#EDF2F2;}
  .st55{fill:#F8FFFF;}
  .st56{opacity:0.4;fill:#8B9196;}
  .st57{fill:#757575;}
  .st58{fill:#B0D4D1;}
  .st59{fill:#9BA5B0;}
  .st60{opacity:0.4;fill:#2F3233;}
  .st61{opacity:0.73;fill:#2F3233;}
  .st62{fill:#97A8A5;}
  .st63{fill:#87A3A1;}
  .st64{fill:#DFF2F1;}
  .st65{fill:#7B667D;}
  .st66{fill:#A086A3;}
  .st67{fill:#EECABE;}
  .st68{fill:#007D29;}
  .st69{fill:#383838;}
  .st70{fill:#858585;}
  .st71{fill:#666666;}
  .st72{fill:#545454;}
  .st73{fill:#B3B3B3;}
  .st74{fill:#8A8A8A;}
  .st75{fill:#E8B95F;}
  .st76{fill:#F1CD87;}
  .st77{fill:#D8E0E8;}
  .st78{fill:#DFF0EC;}
  .st79{fill:#005C8A;}
  .st80{fill:#74A0B8;}
  .st81{fill:#437599;}
  .st82{fill:#4A7287;}
  .st83{fill:#BDBDBD;}
  .st84{fill:#6E405C;}
  .st85{fill:#9E9E9E;}
  .st86{fill:#C07576;}
  .st87{fill:#E7A491;}
  .st88{enable-background:new    ;}
  .st89{fill:#84293F;}
  .st90{fill:#DEB188;}
  .st91{fill:#FFE59A;}
  .st92{fill:#B2B2B2;}
  .st93{fill:none;stroke:#CDD0D3;stroke-miterlimit:10;}
  .st94{fill:#CFCFCF;}
  .st95{fill:#BFBFBF;}
  .st96{fill:#997B76;}
  .st97{fill:#A18D85;}
  .st98{fill:#847680;}
  .st99{fill:#BD9790;}
  .st100{fill:#CCA37C;}
  .st101{fill:#FCF0D9;}
  .st102{opacity:0.4;fill:#CCA37C;}
  .st103{fill:#007B3C;}
  .st104{fill:#009548;}
  .st105{fill:#00752F;}
  .st106{fill:#004E23;}
  .st107{fill:#4A4A4A;}
  .st108{fill:#1A1A1A;}
  .st109{fill:#4D4D4D;}
  .st110{fill:#AEB0B2;}
  .st111{clip-path:url(#SVGID_3_);fill:#FFFFFF;}
  .st112{clip-path:url(#SVGID_5_);fill:#FFFFFF;}
  .st113{fill:#0D592F;}
  .st114{fill:#829298;}
  .st115{fill:#333333;}
  .st116{fill:#FF8900;}
  .st117{fill:#4EB548;}
  .st118{fill:#AA5F0E;}
  .st119{clip-path:url(#SVGID_7_);fill:#FFFFFF;}
  .st120{clip-path:url(#SVGID_9_);fill:#FFFFFF;}
  .st121{fill:#EACD53;}
  .st122{fill:#6A5C03;}
  .st123{fill:#D3AA00;}
  .st124{fill:#646A7D;}
  .st125{clip-path:url(#SVGID_11_);fill:#E6E6E6;}
  .st126{clip-path:url(#SVGID_13_);fill:#E6E6E6;}
  .st127{fill:#F7931E;}
  .st128{fill:#DBB100;}
  .st129{fill:#DCCB24;}
  .st130{fill:#F2E600;}
  .st131{fill:#E5BE1A;}
  .st132{fill:#7C7860;}
  .st133{fill:#635F4C;}
  .st134{fill:#912200;}
  .st135{fill:#D33700;}
  .st136{clip-path:url(#SVGID_15_);fill:#E6E6E6;}
  .st137{clip-path:url(#SVGID_17_);fill:#E6E6E6;}
  .st138{fill:#424242;}
  .st139{fill:#D3B900;}
  .st140{fill:#191818;}
  .st141{fill:#F4F4F4;}
  .st142{fill:none;}
  .st143{fill:#E0E0E0;}
  .st144{fill:#536C71;}
  .st145{fill:#CACCCC;}
  .st146{fill:#F4E84E;}
  .st147{fill:#346693;}
  .st148{fill:#FCFCFC;}
  .st149{fill:#DDDDDD;}
  .st150{fill:#D6D6D4;}
  .st151{fill:#677D82;}
  .st152{fill:#4179B5;}
  .st153{fill:#95B7C5;}
  .st154{fill:#FFF16C;}
  .st155{fill:#C3D5D8;}
  .st156{fill:#7E9599;}
  .st157{fill:#D6D6D6;}
  .st158{fill:#606060;}
  .st159{fill:#3F4647;}
  .st160{fill:#2E3535;}
  .st161{fill:#808080;}
  .st162{fill:#707070;}
  .st163{fill:#3479AD;}
  .st164{fill:#1B71BF;}
  .st165{fill:#D8451D;}
  .st166{fill:#F26940;}
  .st167{fill:#2D95E2;}
  .st168{opacity:0.5;fill:#008FF9;}
  .st169{opacity:0.5;fill:#F9380B;}
  .st170{fill:#ED6D6D;}
  .st171{fill:#DE5252;}
  .st172{fill:#A62929;}
  .st173{fill:#5E0000;}
  .st174{fill:#660505;}
  .st175{fill:#1E1E1E;}
  .st176{fill:#101114;}
  .st177{clip-path:url(#SVGID_19_);fill:#A8A8A8;}
  .st178{clip-path:url(#SVGID_21_);fill:#A8A8A8;}
  .st179{fill:#232323;}
  .st180{fill:#CF2E2E;}
  .st181{fill:#3F3F3F;}
  .st182{fill:#ED6464;}
  .st183{opacity:0.47;fill:#191818;}
  .st184{fill:#878787;}
  .st185{fill:#5A5A70;}
  .st186{fill:#444356;}
  .st187{fill:#272A39;}
  .st188{fill:#141414;}
  .st189{clip-path:url(#SVGID_23_);fill:#5E5E5E;}
  .st190{fill:#4E4E62;}
  .st191{fill:#2B2B2B;}
  .st192{clip-path:url(#SVGID_25_);fill:#5E5E5E;}
  .st193{fill:#161616;}
  .st194{fill:#374E5A;}
  .st195{opacity:0.5;}
  .st196{fill:#913B00;}
  .st197{fill:#BC4C00;}
  .st198{fill:#D35A00;}
  .st199{fill:#383848;}
  .st200{clip-path:url(#SVGID_27_);}
  .st201{opacity:0.49;fill:#FFFF00;}
  .st202{fill:#454545;}
  .st203{fill:#8F8F00;}
  .st204{fill:#FFFF00;}
  .st205{opacity:0.65;fill:#FFFF00;}
  .st206{fill:#00712E;}
