.illustration10
  top 22%
  right 0
  left 0
  width calc(100% + 30px)
  z-index -1
  opacity 0
  +tablet()
    top 30%
  +portrait()
    top 30%
  +mobile()
    top 30%
  //.st0{fill:#EDEDED;}
  //.st1{fill:#F5E18E;}
  //.st2{fill-rule:evenodd;clip-rule:evenodd;fill:#FFCD01;}
  //.st3{fill:#007B3C;}
  //.st4{fill:#009548;}
  //.st5{fill:#00752F;}
  //.st6{fill:#004E23;}
  //.st7{fill:#4A4A4A;}
  //.st8{fill:#1A1A1A;}
  //.st9{fill:#4D4D4D;}
  //.st10{fill:#AEB0B2;}
  //.st11{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
  //.st12{clip-path:url(#SVGID_4_);fill:#FFFFFF;}
  //.st13{fill:#0D592F;}
  //.st14{fill:#829298;}
  //.st15{fill:#FFFFFF;}
  //.st16{fill:#333333;}
  //.st17{fill:#FF8900;}
  //.st18{fill:#4EB548;}
  //.st19{fill:#B3B3B3;}
  //.st20{fill:#AA5F0E;}
  //.st21{fill:#00712E;}
