.illustration4
  bottom 0
  left 0
  height 88%
  .st0{fill:#F8F4E5;}
  .st1{fill:#CBE295;}
  .st2{fill:#CED1D2;}
  .st3{fill:#E7E7E7;}
  .st4{fill:#A1A4A5;}
  .st5{fill:#C6C6C6;}
  .st6{fill:#B4B5B5;}
  .st7{fill:#494949;}
  .st8{fill:#969BA3;}
  .st9{fill:#606060;}
  .st10{fill:#757A7F;}
  .st11{fill:#64696D;}
  .st12{fill:#5E6468;}
  .st13{fill:#3E3F3F;}
  .st14{fill:#36383A;}
  .st15{fill:#3A3E3F;}
  .st16{fill:#404449;}
  .st17{fill:#212223;}
  .st18{fill:#292A2B;}
  .st19{fill:#898E96;}
  .st20{fill:#52565B;}
  .st21{fill:#6A6E75;}
  .st22{fill:#61666D;}
  .st23{fill:#484C4F;}
  .st24{fill:#777C84;}
  .st25{fill:#6D6F72;}
  .st26{fill:#4C4E51;}
  .st27{fill:#676D75;}
  .st28{fill:#64686B;}
  .st29{fill:#363A3D;}
  .st30{fill:#262728;}
  .st31{fill:#9DAC76;}
  .st32{fill:#9C8156;}
  .st33{fill:#826C48;}
  .st34{fill:#BC9F77;}
  .st35{fill:#D4B386;}
  .st36{fill:#A2CF76;}
  .st37{fill:#93B855;}
  .st38{fill:#89A45E;}
  .st39{fill:#738A4F;}
  .st40{fill:#476D32;}
  .st41{fill:#E8B95F;}
  .st42{fill:#DD8787;}
  .st43{fill:#F1CD87;}
  .st44{fill:#D8E0E8;}
  .st45{fill:#575D63;}
  .st46{fill:#7B667D;}
  .st47{enable-background:new    ;}
  .st48{fill:#B2B2B2;}
  .st49{fill:#CEE0D8;}
  .st50{fill:#878787;}
  .st51{fill:#D3D3D3;}
  .st52{fill:#0F0F0F;}
  .st53{fill:#FFEF2E;}
  .st54{fill:#DBC631;}
  .st55{fill:#EDD456;}
  .st56{fill:#FCFCFC;}
  .st57{fill:#EA9154;}
  .st58{fill:#686868;}
  .st59{fill:#3D3D3D;}
  .st60{fill:#919191;}
  .st61{fill:#666666;}
  .st62{fill:#8A8A8A;}
  .st63{fill:#E5E5E5;}
  .st64{fill:#FFFFFF;}
  .st65{fill:#D8D8D8;}
  .st66{fill:#676868;}
  .st67{fill:#B2B2B3;}
  .st68{fill:#C6C6C6;enable-background:new    ;}
  .st69{fill:#A8AAAA;}
  .st70{fill:#C0BEB3;}
  .st71{fill:#828282;}
  .st72{fill:#DBDBDB;}
  .st73{fill:#BDBDBD;}
  .st74{fill:#9E9E9E;}
  .st75{fill:#DCE0E0;}
  .st76{fill:#E4F4F3;}
  .st77{fill:#8DAEB7;}
  .st78{fill:#B5C2C1;}
  .st79{fill:#EDF2F2;}
  .st80{fill:#4A6F7C;}
  .st81{fill:#999999;}
  .st82{fill:#5B5B5B;}
  .st83{fill:#CCCCCC;}
  .st84{fill:#56757C;}
  .st85{fill:#696868;}
  .st86{fill:#BFD8D3;}
  .st87{fill:#5E7484;}
  .st88{fill:#6C929B;}
  .st89{fill:#808080;}
  .st90{fill:#B2BDBC;}
  .st91{fill:#4A7287;}
  .st92{fill:#ABAFAF;}
  .st93{fill:#E3B7AB;}
  .st94{fill:#A086A3;}
  .st95{fill:#EECABE;}
  .st96{fill:#E0E0E0;}
  .st97{fill:#BFBFBF;}
  .st98{fill:#F0D9CE;}
  .st99{fill:#DCBBAA;}
  .st100{fill:#FCFBF9;}
  .st101{fill:#FCF2E3;}
  .st102{fill:#BAAAA2;}
  .st103{fill:#C4C4C3;}
  .st104{opacity:0.65;fill:#83A8B5;}
  .st105{fill:#8AB4C4;}
  .st106{clip-path:url(#SVGID_8_);}
  .st107{clip-path:url(#SVGID_12_);}
  .st108{fill:#7497A5;}
  .st109{fill:#31ACEE;}
  .st110{fill:#4DC3F7;}
  .st111{fill:#76DCFF;}
  .st112{fill:#DCB7A5;}
  .st113{fill:#BD918A;}
  .st114{fill:#ABC6C9;}
  .st115{fill:#134668;}
  .st116{fill:#5E828E;}
  .st117{fill:#43C48E;}
  .st118{fill:#858585;}
  .st119{fill:#98EDC4;}
  .st120{fill:#279164;}
  .st121{fill:#83A8B5;}
  .st122{fill:#B0D7E2;}
  .st123{fill:#FFE59A;}
  .st124{fill:#CCA37C;}
  .st125{fill:#DDD2C0;}
  .st126{fill:#DEB188;}
  .st127{fill:#EED791;}
  .st128{fill:#FCF0D9;}
  .st129{fill:#474657;}
  .st130{fill:#B0AA80;}
  .st131{fill:#E0B3AF;}
  .st132{fill:#CC8F7F;}
  .st133{fill:#EDC1BC;}
  .st134{fill:#898383;}
  .st135{fill:#E2B7AF;}
  .st136{fill:#F2DBB6;}
  .st137{fill:#F4E5CE;}
  .st138{fill:#F4E8D7;}
  .st139{fill:#E5BA7C;}
  .st140{fill:#E0C277;}
  .st141{fill:#EABE92;}
  .st142{fill:#F2CCAD;}
  .st143{fill:#F4D3AB;}
  .st144{fill:#DFC29E;}
  .st145{fill:#D1B795;}
  .st146{fill:#DDC09D;}
  .st147{fill:#AF7B96;}
  .st148{fill:#996A85;}
  .st149{fill:#B78AA4;}
  .st150{fill:#E2C9D8;}
  .st151{fill:#EFDFC5;}
  .st152{fill:#FFFAF0;}
  .st153{fill:#E8DECD;}
  .st154{fill:#C9C3BC;}
  .st155{fill:#4CB08F;}
  .st156{fill:#EFE1CA;}
  .st157{fill:#FCF7ED;}
  .st158{fill:#FFF7C3;}
  .st159{fill:#C3BBAB;}
  .st160{fill:#B9B09F;}
  .st161{fill:#EAE6DF;}
  .st162{fill:#F9F6F2;}
  .st163{fill:#737C74;}
  .st164{fill:#485865;}
  .st165{fill:#C4B27A;}
  .st166{fill:#BAA06A;}
  .st167{fill:#AF8D6C;}
  .st168{fill:#409B74;}
  .st169{fill:#0F8253;}
  .st170{fill:#4D4D4D;}
  .st171{clip-path:url(#SVGID_16_);fill:#FFFFFF;}
  .st172{fill:#2D2D2D;}
  .st173{opacity:0.14;}
  .st174{opacity:0.22;}
  .st175{fill:#21885E;}
  .st176{fill:#4AB386;}
  .st177{fill:#207853;}
  .st178{fill:#A3576D;}
  .st179{fill:#D1A3B3;}
  .st180{fill:#7C4152;}
  .st181{fill:#4E6B71;}
  .st182{fill:#6E405C;}
  .st183{fill:#C5A4A0;}
  .st184{fill:#C07576;}
  .st185{fill:#A26364;}
  .st186{fill:#995044;}
  .st187{fill:#E7A491;}
  .st188{fill:#383838;}
  .st189{fill:#912200;}
  .st190{fill:#D33700;}
  .st191{fill:#72210E;}
  .st192{clip-path:url(#SVGID_18_);fill:#C65532;}
  .st193{fill:#C48C00;}
  .st194{fill:#EDAF00;}
  .st195{fill:#755816;}
  .st196{clip-path:url(#SVGID_20_);fill:#C19D42;}
  .st197{fill:#207500;}
  .st198{fill:#3DAA1A;}
  .st199{fill:#113504;}
  .st200{clip-path:url(#SVGID_22_);fill:#5C9347;}
  .st201{clip-path:url(#SVGID_24_);fill:#C65532;}
  .st202{clip-path:url(#SVGID_26_);fill:#C19D42;}
  .st203{clip-path:url(#SVGID_28_);fill:#5C9347;}
  .st204{clip-path:url(#SVGID_30_);fill:#A1A4A5;}
  .st205{clip-path:url(#SVGID_32_);fill:#A1A4A5;}
  .st206{clip-path:url(#SVGID_34_);fill:#A1A4A5;}
  .st207{clip-path:url(#SVGID_36_);fill:#C65532;}
  .st208{clip-path:url(#SVGID_38_);fill:#C19D42;}
  .st209{clip-path:url(#SVGID_40_);fill:#5C9347;}
  .st210{fill:#B3B3B3;}
  .st211{fill:#545454;}
  .st212{fill:#1A1A1A;}
  .st213{fill:#AEB0B2;}
  .st214{fill:#00752F;}
  .st215{fill:none;}
  .st216{fill:#009548;}
  .st217{fill:#007B3C;}
  .st218{fill:#4EB548;}
  .st219{fill:#FCAE68;}
  .st220{fill:#CE844D;}
  .st221{fill:#829298;}
  .st222{fill:#333333;}
  .st223{fill:#FF8900;}
  .st224{fill:#EC671C;}
  .st225{fill:#D36221;}
  .st226{fill:#1E1E1E;}
  .st227{clip-path:url(#SVGID_48_);fill:#5E5E5E;}
  .st228{fill:#2B2B2B;}
  .st229{fill:#161616;}
  .st230{fill:#424242;}
  .st231{fill:#D67422;}
  .st232{fill:#998E41;}
  .st233{fill:#603813;}
  .st234{fill:#ADA455;}
  .st235{fill:#8C6239;}
  .st236{fill:#CFC800;}
  .st237{fill:#FBFF88;}
  .st238{fill:#FBB444;}
  .st239{fill:#D48C1A;}
  .st240{fill:#FBC978;}
  .st241{fill:#EF8943;}
  .st242{fill:#ED9A40;}
  .st243{fill:#141414;}
  .st244{clip-path:url(#SVGID_50_);fill:#5E5E5E;}
  .st245{fill:#4F4F4F;}
  .st246{fill:#7C7860;}
  .st247{fill:#C7C96B;}
  .st248{fill:#EF8035;}
  .st249{fill:none;stroke:#424242;stroke-miterlimit:10;}
  .st250{fill:#2E4F5B;}
  .st251{fill:#6D6D14;}
  .st252{fill:#969696;}
  .st253{fill:#FFFD5C;}
  .st254{fill:#5C8993;}
  .st255{fill:#3F3F3F;}
  .st256{fill:#E9E731;}
  .st257{opacity:0.29;}
  .st258{fill:#BC3F19;}
  .st259{fill:#F75E2F;}
  .st260{clip-path:url(#SVGID_52_);fill:#5E5E5E;}
  .st261{clip-path:url(#SVGID_54_);fill:#5E5E5E;}
  .st262{fill:#191818;}
  .st263{fill:#F4F4F4;}
  .st264{fill:#536C71;}
  .st265{fill:#CACCCC;}
  .st266{fill:#F4E84E;}
  .st267{fill:#346693;}
  .st268{fill:#DDDDDD;}
  .st269{fill:#D6D6D4;}
  .st270{fill:#677D82;}
  .st271{fill:#4179B5;}
  .st272{fill:#95B7C5;}
  .st273{fill:#FFF16C;}
  .st274{fill:#C3D5D8;}
  .st275{fill:#7E9599;}
  .st276{fill:#D6D6D6;}
  .st277{fill:#3F4647;}
  .st278{fill:#2E3535;}
  .st279{fill:#707070;}
  .st280{fill:#3479AD;}
  .st281{fill:#1B71BF;}
  .st282{fill:#D8451D;}
  .st283{fill:#F26940;}
  .st284{fill:#2D95E2;}
  .st285{opacity:0.5;fill:#008FF9;}
  .st286{opacity:0.5;fill:#F9380B;}
  .st287{fill:#66B4D4;}
  .st288{fill:#306EA1;}
  .st289{fill:#A2DDFF;}
  .st290{fill:#A6D4F0;}
  .st291{fill:#8AC8ED;}
  .st292{opacity:0.5;fill:#646A7D;enable-background:new    ;}
  .st293{fill:#8E8E8E;}
  .st294{fill:#D0E2E1;}
  .st295{fill:#A8A8A8;}
  .st296{fill:#757575;}
  .st297{fill:#AFAFAF;}
  .st298{fill:#ADADAD;}
  .st299{fill:#BACACC;}
  .st300{fill:#D0BED3;}
  .st301{fill:#9C8EA0;}
  .st302{fill:#B7CECC;}
  .st303{fill:#8CA3A1;}
  .st304{fill:#617F7C;}
  .st305{fill:#CEDDDB;}
  .st306{fill:#869391;}
  .st307{fill:#F8FFFF;}
  .st308{fill:#A2BDBA;}
  .st309{opacity:0.4;fill:#8B9196;}
  .st310{fill:#8E9F9E;}
  .st311{fill:#CECECE;}
  .st312{fill:#C4D1D1;}
  .st313{fill:#A1B3B2;}
  .st314{clip-path:url(#SVGID_56_);}
  .st315{fill:#4C4C4C;}
  .st316{fill:#212121;}
  .st317{clip-path:url(#SVGID_58_);}
  .st318{clip-path:url(#SVGID_60_);}
  .st319{clip-path:url(#SVGID_62_);}
  .st320{clip-path:url(#SVGID_64_);}
  .st321{clip-path:url(#SVGID_66_);}
  .st322{clip-path:url(#SVGID_68_);}
  .st323{clip-path:url(#SVGID_70_);}
  .st324{fill:#595959;}
  .st325{fill:#7A7A7A;}
  .st326{clip-path:url(#SVGID_72_);}
  .st327{clip-path:url(#SVGID_74_);}
  .st328{clip-path:url(#SVGID_76_);}
  .st329{clip-path:url(#SVGID_78_);}
  .st330{clip-path:url(#SVGID_80_);}
  .st331{clip-path:url(#SVGID_82_);}
  .st332{clip-path:url(#SVGID_84_);}
  .st333{clip-path:url(#SVGID_86_);}
  .st334{fill:#B8BCBD;}
  .st335{opacity:0.2;enable-background:new    ;}
  .st336{fill:#231F20;}
  .st337{fill:#EACD53;}
  .st338{fill:#6A5C03;}
  .st339{fill:#D3AA00;}
  .st340{fill:#646A7D;}
  .st341{clip-path:url(#SVGID_88_);fill:#E6E6E6;}
  .st342{clip-path:url(#SVGID_90_);fill:#E6E6E6;}
  .st343{fill:#F7931E;}
  .st344{fill:#DBB100;}
  .st345{fill:#DCCB24;}
  .st346{fill:#F2E600;}
  .st347{fill:#E5BE1A;}
  .st348{fill:#635F4C;}
  .st349{clip-path:url(#SVGID_92_);fill:#E6E6E6;}
  .st350{clip-path:url(#SVGID_94_);fill:#E6E6E6;}
  .st351{fill:#D3B900;}
  .st352{fill:#4C4C60;}
  .st353{fill:#5A5A70;}
  .st354{fill:#272A39;}
  .st355{fill:#5E5E5E;}
  .st356{fill:#4E4E62;}
  .st357{fill:#373747;}
  .st358{fill:#232323;}
  .st359{fill:#444356;}
  .st360{fill:#383848;}
  .st361{fill:#374E5A;}
  .st362{fill:#A5A5A5;}
  .st363{fill:#8C8C8C;}
  .st364{opacity:0.49;}
  .st365{opacity:0.5;}
  .st366{fill:#2E3141;}
  .st367{clip-path:url(#SVGID_96_);}
  .st368{fill:url(#SVGID_97_);}
  .st369{clip-path:url(#SVGID_99_);fill:#E6E6E6;}
  .st370{fill:#C92D2D;}
  .st371{fill:#A02B2B;}
  .st372{fill:#7F2020;}
  .st373{fill:#DD3333;}
  .st374{fill:#7C7C7C;}
  .st375{fill:#E6E6E6;}
  .st376{fill:#5E0000;}
  .st377{fill:#660505;}
  .st378{fill:none;stroke:#494949;stroke-width:0.75;stroke-miterlimit:10;}
  .st379{fill:#5E4A38;}
  .st380{fill:#F1F7F7;}
  .st381{fill:#97A8A5;}
  .st382{fill:#C7D6D3;}
  .st383{fill:#8F99A3;}
  .st384{fill:#A9BFBB;}
  .st385{fill:#DEDEDE;}
  .st386{fill:#707880;}
  .st387{fill:#C4C4C4;}
  .st388{fill:#F9F9F9;}
  .st389{fill:#1B5677;}
  .st390{fill:#C6DDE0;}
  .st391{fill:#B7B7B7;}
  .st392{fill:#E2E2E2;}
  .st393{fill:#00712E;}
  +tablet()
    height 68%
  +portrait()
    height auto
    width 100%
  +mobile()
    display none
