.illustration7
  bottom 0
  left 0
  width 100%
  +portrait()
    width 140%
  +mobile()
    display none
  .st0{fill:#F8F4E5;}
  .st1{fill:#CBE295;}
  .st2{fill:#CED1D2;}
  .st3{fill:#E7E7E7;}
  .st4{fill:#CCCAB9;}
  .st5{fill:#C0BEB3;}
  .st6{fill:#9DAC76;}
  .st7{fill:#B4949A;}
  .st8{fill:#CCB1A6;}
  .st9{fill:#D3CDC7;}
  .st10{fill:#C7D6D3;}
  .st11{fill:#7B848C;}
  .st12{fill:#F0F7F5;}
  .st13{fill:#A3576D;}
  .st14{fill:#773551;}
  .st15{fill:#DD8787;}
  .st16{fill:#F5CBC7;}
  .st17{fill:#BDC9DE;}
  .st18{fill:#AFD2DA;}
  .st19{fill:#FFFFFF;}
  .st20{fill:#A6B2BD;}
  .st21{fill:#C5A4A0;}
  .st22{fill:#BAC6CB;}
  .st23{fill:#8BAEA4;}
  .st24{fill:#6C929B;}
  .st25{fill:#D1DEE5;}
  .st26{fill:#A0696D;}
  .st27{fill:#6B727B;}
  .st28{fill:#575D63;}
  .st29{fill:#E9FAF6;}
  .st30{fill:#9FA4AF;}
  .st31{fill:#8A97AD;}
  .st32{fill:#36393D;}
  .st33{fill:#2D2D2D;}
  .st34{fill:#BC9F77;}
  .st35{fill:#9C8156;}
  .st36{fill:#93B855;}
  .st37{fill:#89A45E;}
  .st38{fill:#A2CF76;}
  .st39{opacity:0.14;}
  .st40{opacity:0.22;}
  .st41{fill:#826C48;}
  .st42{fill:#D4B386;}
  .st43{fill:#738A4F;}
  .st44{fill:#476D32;}
  .st45{fill:#C6C6C6;}
  .st46{fill:#A1A4A5;}
  .st47{fill:#E5E5E5;}
  .st48{fill:#BCBCBC;}
  .st49{fill:#B4C7C6;}
  .st50{fill:#A1B3B2;}
  .st51{fill:#56757C;}
  .st52{fill:#999999;}
  .st53{fill:#CCCCCC;}
  .st54{fill:#808080;}
  .st55{fill:#EBF2F2;}
  .st56{fill:#C4D1D1;}
  .st57{fill:#F5F5F5;}
  .st58{fill:#EDF2F2;}
  .st59{fill:#F8FFFF;}
  .st60{fill:#DBDCDD;}
  .st61{fill:#757575;}
  .st62{fill:#B0D4D1;}
  .st63{fill:#9BA5B0;}
  .st64{fill:#666666;}
  .st65{fill:#39565B;}
  .st66{fill:#B3B3B3;}
  .st67{fill:#7A8988;}
  .st68{opacity:0.73;fill:#2F3233;}
  .st69{fill:#97A8A5;}
  .st70{fill:#87A3A1;}
  .st71{fill:#DFF2F1;}
  .st72{fill:#7B667D;}
  .st73{fill:#A086A3;}
  .st74{fill:#EECABE;}
  .st75{fill:#007D29;}
  .st76{fill:#708785;}
  .st77{fill:#91A8A7;}
  .st78{fill:#7D9391;}
  .st79{fill:#383838;}
  .st80{fill:#858585;}
  .st81{fill:#545454;}
  .st82{fill:#8A8A8A;}
  .st83{fill:#E8B95F;}
  .st84{fill:#F1CD87;}
  .st85{fill:#D8E0E8;}
  .st86{fill:#DFF0EC;}
  .st87{opacity:0.2;fill:#231F20;}
  .st88{fill:#005C8A;}
  .st89{fill:#74A0B8;}
  .st90{fill:#437599;}
  .st91{fill:#4A7287;}
  .st92{fill:#BDBDBD;}
  .st93{fill:#6E405C;}
  .st94{fill:#9E9E9E;}
  .st95{fill:#C07576;}
  .st96{fill:#E7A491;}
  .st97{enable-background:new    ;}
  .st98{fill:#84293F;}
  .st99{fill:#DEB188;}
  .st100{fill:#FFE59A;}
  .st101{fill:#B2B2B2;}
  .st102{fill:none;stroke:#CDD0D3;stroke-miterlimit:10;}
  .st103{fill:#CFCFCF;}
  .st104{fill:#BFBFBF;}
  .st105{fill:#A18D85;}
  .st106{fill:#847680;}
  .st107{fill:#BD9790;}
  .st108{fill:#997B76;}
  .st109{fill:#CCA37C;}
  .st110{fill:#FCF0D9;}
  .st111{fill:#F9CEB2;}
  .st112{fill:#5D7E84;}
  .st113{fill:#EACE96;}
  .st114{fill:#DBC07D;}
  .st115{display:none;}
  .st116{display:inline;}
  .st117{fill:#007B3C;}
  .st118{fill:#009548;}
  .st119{fill:#00752F;}
  .st120{fill:#004E23;}
  .st121{fill:#4A4A4A;}
  .st122{fill:#1A1A1A;}
  .st123{fill:#4D4D4D;}
  .st124{fill:#AEB0B2;}
  .st125{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
  .st126{clip-path:url(#SVGID_4_);fill:#FFFFFF;}
  .st127{fill:#0D592F;}
  .st128{fill:#829298;}
  .st129{fill:#333333;}
  .st130{fill:#FF8900;}
  .st131{fill:#4EB548;}
  .st132{fill:#AA5F0E;}
  .st133{clip-path:url(#SVGID_6_);fill:#FFFFFF;}
  .st134{clip-path:url(#SVGID_8_);fill:#FFFFFF;}
  .st135{fill:#EACD53;}
  .st136{fill:#6A5C03;}
  .st137{fill:#D3AA00;}
  .st138{fill:#646A7D;}
  .st139{clip-path:url(#SVGID_10_);fill:#E6E6E6;}
  .st140{clip-path:url(#SVGID_12_);fill:#E6E6E6;}
  .st141{fill:#F7931E;}
  .st142{fill:#DBB100;}
  .st143{fill:#DCCB24;}
  .st144{fill:#F2E600;}
  .st145{fill:#E5BE1A;}
  .st146{fill:#7C7860;}
  .st147{fill:#635F4C;}
  .st148{fill:#912200;}
  .st149{fill:#D33700;}
  .st150{clip-path:url(#SVGID_14_);fill:#E6E6E6;}
  .st151{clip-path:url(#SVGID_16_);fill:#E6E6E6;}
  .st152{fill:#424242;}
  .st153{fill:#D3B900;}
  .st154{fill:#191818;}
  .st155{fill:#F4F4F4;}
  .st156{fill:none;}
  .st157{fill:#E0E0E0;}
  .st158{fill:#536C71;}
  .st159{fill:#CACCCC;}
  .st160{fill:#F4E84E;}
  .st161{fill:#346693;}
  .st162{fill:#FCFCFC;}
  .st163{fill:#DDDDDD;}
  .st164{fill:#D6D6D4;}
  .st165{fill:#677D82;}
  .st166{fill:#4179B5;}
  .st167{fill:#95B7C5;}
  .st168{fill:#FFF16C;}
  .st169{fill:#C3D5D8;}
  .st170{fill:#7E9599;}
  .st171{fill:#D6D6D6;}
  .st172{fill:#606060;}
  .st173{fill:#3F4647;}
  .st174{fill:#2E3535;}
  .st175{fill:#707070;}
  .st176{fill:#3479AD;}
  .st177{fill:#1B71BF;}
  .st178{fill:#D8451D;}
  .st179{fill:#F26940;}
  .st180{fill:#2D95E2;}
  .st181{opacity:0.5;fill:#008FF9;}
  .st182{opacity:0.5;fill:#F9380B;}
  .st183{fill:#ED6D6D;}
  .st184{fill:#DE5252;}
  .st185{fill:#A62929;}
  .st186{fill:#5E0000;}
  .st187{fill:#660505;}
  .st188{fill:#1E1E1E;}
  .st189{fill:#101114;}
  .st190{clip-path:url(#SVGID_18_);fill:#A8A8A8;}
  .st191{clip-path:url(#SVGID_20_);fill:#A8A8A8;}
  .st192{fill:#232323;}
  .st193{fill:#CF2E2E;}
  .st194{fill:#3F3F3F;}
  .st195{fill:#ED6464;}
  .st196{opacity:0.47;fill:#191818;}
  .st197{fill:#878787;}
  .st198{fill:#5A5A70;}
  .st199{fill:#444356;}
  .st200{fill:#272A39;}
  .st201{fill:#141414;}
  .st202{clip-path:url(#SVGID_22_);fill:#5E5E5E;}
  .st203{fill:#4E4E62;}
  .st204{fill:#2B2B2B;}
  .st205{clip-path:url(#SVGID_24_);fill:#5E5E5E;}
  .st206{fill:#161616;}
  .st207{fill:#374E5A;}
  .st208{opacity:0.5;}
  .st209{fill:#913B00;}
  .st210{fill:#BC4C00;}
  .st211{fill:#D35A00;}
  .st212{fill:#383848;}
  .st213{clip-path:url(#SVGID_26_);}
  .st214{display:inline;opacity:0.49;fill:#FFFF00;}
  .st215{fill:#454545;}
  .st216{fill:#8F8F00;}
  .st217{fill:#FFFF00;}
  .st218{fill:#FAFA50;}
  .st219{fill:#00712E;}
