.illustration6
  top: 19%
  left: calc(15px + 8.333333%)
  max-width 524px
  width 100%
  z-index 1
  +mobile()
    position relative
    top auto
    left auto
    margin-top 150px
    margin-bottom 56px
  .st0{fill:#00712E;}
  .st1{opacity:0.2;fill:#231F20;enable-background:new    ;}
  .st2{fill:#1A1A1A;}
  .st3{fill:#878787;}
  .st4{fill:#3F3F3F;}
  .st5{fill:#00752F;}
  .st6{fill:none;}
  .st7{fill:#3C3C3C;}
  .st8{fill:#808080;}
  .st9{fill:#FFFFFF;}
  .st10{fill:#009548;}
  .st11{fill:#007B3C;}
  .st12{fill:#4EB548;}
  .st13{fill:#45AC3E;}
  .st14{fill:#FF8900;}
  .st15{fill:#D67422;}
  .st16{fill:#C0C0C0;}
  .st17{fill:#60696C;}
  .st18{fill:#8A8A8A;}
  .st19{fill:#4D4D4D;}
  .st20{fill:#333333;}
  .st21{fill:#373737;}
  .st22{fill:#232323;}
  .st23{fill:#616161;}
  .st24{opacity:0.45;fill:#D8AE00;}
  .st25{fill:#D8AE00;}
  .st26{fill:#087C39;}
  .st27{fill:#006027;}
  .st28{fill:#008235;}
  .st29{fill:#006B2B;}
  .st30{fill:#02893F;}
  .st31{opacity:0.14;}
  .st32{opacity:0.22;}
  .st33{fill:#2D2D2D;}
  .st34{fill:#1CB762;}
  .st35{fill:#05632B;}
  .st36{fill:#025423;}
  .st37{fill:#087F41;}
  .st38{fill:#037737;}
  .st39{fill:#006632;}
  .st40{fill:#028E41;}
  .st41{fill:#087C37;}
  .st42{fill:#0A7A37;}
  .st43{fill:#06662D;}
  .st44{fill:#08823A;}
  .st45{fill:#0A6D32;}
