.illustration3
  right: 0
  height 100vh
  bottom: 0
  +tablet()
    width auto
    height 100vh
    bottom 0
  +portrait()
    height 68vh
    width auto
  +mobile()
    display none
  .st0{fill:#F8F4E5;}
  .st1{fill:#CBE295;}
  .st2{fill:#CED1D2;}
  .st3{fill:#E7E7E7;}
  .st4{opacity:0.24;fill:#8E96B2;enable-background:new    ;}
  .st5{fill:#F6F6F6;}
  .st6{opacity:0.2;}
  .st7{fill:#231F20;}
  .st8{fill:#545454;}
  .st9{fill:#A62929;}
  .st10{fill:#383838;}
  .st11{fill:#CF3E3E;}
  .st12{fill:#DE6666;}
  .st13{fill:#2D2D2D;}
  .st14{opacity:0.2;fill:#231F20;}
  .st15{fill:#1E1E1E;}
  .st16{clip-path:url(#SVGID_2_);fill:#5E5E5E;}
  .st17{fill:#001215;}
  .st18{clip-path:url(#SVGID_4_);fill:#5E5E5E;}
  .st19{clip-path:url(#SVGID_6_);fill:#5E5E5E;}
  .st20{fill:#232323;}
  .st21{fill:#474747;}
  .st22{fill:#4F4F4F;}
  .st23{fill:#CF4848;}
  .st24{fill:#374E5A;}
  .st25{fill:#DDDDDD;}
  .st26{fill:#A5A5A5;}
  .st27{clip-path:url(#SVGID_8_);fill:#8C8C8C;}
  .st28{fill:#56757C;}
  .st29{opacity:0.49;enable-background:new    ;}
  .st30{opacity:0.5;enable-background:new    ;}
  .st31{clip-path:url(#SVGID_10_);fill:#8C8C8C;}
  .st32{fill:#4C4C60;}
  .st33{fill:#5A5A70;}
  .st34{fill:#272A39;}
  .st35{clip-path:url(#SVGID_12_);fill:#5E5E5E;}
  .st36{fill:#4E4E62;}
  .st37{clip-path:url(#SVGID_14_);fill:#5E5E5E;}
  .st38{fill:#141414;}
  .st39{fill:#373747;}
  .st40{clip-path:url(#SVGID_16_);fill:#5E5E5E;}
  .st41{fill:#161616;}
  .st42{fill:#444356;}
  .st43{fill:#383848;}
  .st44{clip-path:url(#SVGID_18_);fill:#8C8C8C;}
  .st45{clip-path:url(#SVGID_20_);fill:#8C8C8C;}
  .st46{fill:#2E3141;}
  .st47{fill:#FFFFFF;}
  .st48{fill:#575D63;}
  .st49{fill:#C7D6D3;}
  .st50{fill:#999999;}
  .st51{fill:#CFCFCF;}
  .st52{fill:#6C929B;}
  .st53{fill:#97A8A5;}
  .st54{fill:#858585;}
  .st55{fill:#666666;}
  .st56{fill:#B3B3B3;}
  .st57{fill:#8A8A8A;}
  .st58{opacity:0.5;fill:#8E96B2;enable-background:new    ;}
  .st59{fill:#959AA5;}
  .st60{fill:#E6E6E6;}
  .st61{fill:#CED3DB;}
  .st62{fill:#E5E5E5;}
  .st63{fill:#999DA3;}
  .st64{fill:none;}
  .st65{opacity:0.5;fill:#231F20;enable-background:new    ;}
  .st66{fill:#C2C6CC;}
  .st67{fill:#1A1A1A;}
  .st68{fill:#AEB0B2;}
  .st69{fill:#4D4D4D;}
  .st70{fill:#00752F;}
  .st71{fill:#808080;}
  .st72{fill:#0D592F;}
  .st73{fill:#007B3C;}
  .st74{fill:#009548;}
  .st75{fill:#4EB548;}
  .st76{fill:#FCD3AC;}
  .st77{fill:#FF8900;}
  .st78{fill:#829298;}
  .st79{fill:#333333;}
  .st80{fill:#282828;}
  .st81{fill:#414140;}
  .st82{fill:#006734;}
  .st83{fill:#4E5565;}
  .st84{fill:#485560;}
  .st85{fill:#5D6F7F;}
  .st86{fill:#545C6C;}
  .st87{fill:#828A9A;}
  .st88{fill:#C4C7C8;}
  .st89{fill:#A8B2B7;}
  .st90{opacity:0.35;fill:#4E5565;enable-background:new    ;}
  .st91{fill:#9FA7AA;}
  .st92{fill:#7B8393;}
  .st93{fill:#585F6B;}
  .st94{opacity:0.5;fill:#19243A;enable-background:new    ;}
  .st95{fill:#5B6776;}
  .st96{fill:#717272;}
  .st97{fill:#E0E0E0;}
  .st98{fill:#D7D8D8;}
  .st99{fill:#575E70;}
  .st100{fill:#43494F;}
  .st101{fill:#DFF0EC;}
  .st102{fill:#9C8156;}
  .st103{fill:#826C48;}
  .st104{fill:#BC9F77;}
  .st105{fill:#D4B386;}
  .st106{fill:#A2CF76;}
  .st107{fill:#93B855;}
  .st108{fill:#89A45E;}
  .st109{fill:#738A4F;}
  .st110{fill:#476D32;}
  .st111{opacity:0.2;fill:#231F20;enable-background:new    ;}
  .st112{opacity:0.14;enable-background:new    ;}
  .st113{opacity:0.22;enable-background:new    ;}
  .st114{fill:#8B9DAB;}
  .st115{fill:#BDC9DE;}
  .st116{fill:#9EB9C0;}
  .st117{fill:#9FA4AF;}
  .st118{fill:#A8BAB9;}
  .st119{fill:#8A97AD;}
  .st120{fill:#6B727B;}
  .st121{fill:#90A6BF;}
  .st122{fill:#DFE5E4;}
  .st123{fill:#EFF2F4;}
  .st124{fill:#CCCCCC;}
  .st125{clip-path:url(#SVGID_22_);fill:#575D63;}
  .st126{fill:#E9FAF6;}
  .st127{fill:#5E656B;}
  .st128{fill:#A3576D;}
  .st129{fill:#DD8787;}
  .st130{fill:#A0696D;}
  .st131{fill:#C5A4A0;}
  .st132{fill:#6E405C;}
  .st133{fill:#E7A491;}
  .st134{fill:#C07576;}
  .st135{fill:#474657;}
  .st136{fill:#C38B7C;}
  .st137{fill:#5D7F87;}
  .st138{fill:#93555D;}
  .st139{fill:#8F6067;}
  .st140{fill:#773551;}
  .st141{fill:#C4B0A4;}
  .st142{fill:#8A6977;}
  .st143{fill:#BF7A79;}
  .st144{fill:#5C7D85;}
  .st145{fill:#A56F77;}
  .st146{fill:#E8B95F;}
  .st147{fill:#F1CD87;}
  .st148{fill:#BFBFBF;}
  .st149{fill:#7B667D;}
  .st150{enable-background:new    ;}
  .st151{fill:#EECABE;}
  .st152{fill:#84293F;}
  .st153{fill:#A086A3;}
  .st154{fill:#B7BABC;}
  .st155{fill:#838896;}
  .st156{fill:#718F8B;}
  .st157{fill:#61989E;}
  .st158{fill:#4B686F;}
  .st159{fill:#BABFD3;}
  .st160{fill:#76837D;}
  .st161{fill:#E7E8DF;}
  .st162{fill:#6DAAA0;}
  .st163{fill:#3C7559;}
  .st164{fill:#456C70;}
  .st165{fill:#2F5B43;}
  .st166{fill:#DAE2E5;}
  .st167{fill:#253F2D;}
  .st168{fill:#6ABB70;}
  .st169{fill:#D8E0E8;}
  .st170{fill:#DEB188;}
  .st171{fill:#FFE59A;}
  .st172{fill:#A6B2BD;}
  .st173{fill:#005C8A;}
  .st174{fill:#74A0B8;}
  .st175{fill:#437599;}
  .st176{fill:#31ACEE;}
  .st177{fill:#4DC3F7;}
  .st178{fill:#76DCFF;}
  .st179{fill:#004E23;}
  .st180{fill:#4A4A4A;}
  .st181{clip-path:url(#SVGID_24_);fill:#FFFFFF;}
  .st182{clip-path:url(#SVGID_26_);fill:#FFFFFF;}
  .st183{fill:#AA5F0E;}
  .st184{fill:#D67422;}
  .st185{clip-path:url(#SVGID_28_);fill:#5E5E5E;}
  .st186{clip-path:url(#SVGID_30_);fill:#5E5E5E;}
  .st187{clip-path:url(#SVGID_32_);fill:#5E5E5E;}
  .st188{clip-path:url(#SVGID_34_);fill:#8C8C8C;}
  .st189{clip-path:url(#SVGID_36_);fill:#8C8C8C;}
  .st190{fill:#DE5252;}
  .st191{fill:#5E0000;}
  .st192{fill:#660505;}
  .st193{fill:#3F3F3F;}
  .st194{fill:#757575;}
  .st195{fill:#CF2E2E;}
  .st196{opacity:0.47;fill:#191818;}
  .st197{fill:#191818;}
  .st198{fill:#646A7D;}
  .st199{fill:#F2E600;}
  .st200{fill:#D3AA00;}
  .st201{fill:#DCCB24;}
  .st202{fill:#7C7860;}
  .st203{fill:#424242;}
  .st204{fill:#D3B900;}
  .st205{opacity:0.44;fill:#424242;}
  .st206{fill:#635F4C;}
  .st207{fill:#A55600;}
  .st208{fill:#ED8100;}
  .st209{clip-path:url(#SVGID_38_);fill:#E6E6E6;}
  .st210{fill:#912200;}
  .st211{fill:#D33700;}
  .st212{clip-path:url(#SVGID_40_);fill:#E6E6E6;}
  .st213{clip-path:url(#SVGID_42_);fill:#E6E6E6;}
  .st214{clip-path:url(#SVGID_44_);fill:#E6E6E6;}
  .st215{clip-path:url(#SVGID_46_);fill:#E6E6E6;}
  .st216{clip-path:url(#SVGID_48_);fill:#E6E6E6;}
  .st217{clip-path:url(#SVGID_50_);fill:#E6E6E6;}
  .st218{clip-path:url(#SVGID_52_);fill:#E6E6E6;}
  .st219{fill:#BA4242;}
  .st220{fill:#B9E3DD;}
  .st221{fill:#63918C;}
  .st222{fill:#D3EBE8;}
  .st223{fill:#B1C9C4;}
  .st224{fill:#EBFFFB;}
  .st225{fill:#5E5E5E;}
  .st226{fill:#95ADA9;}
  .st227{fill:#913B00;}
  .st228{fill:#BC4C00;}
  .st229{fill:#D35A00;}
  .st230{fill:#717D7C;}
  .st231{fill:#3D3D3D;}
  .st232{fill:#00712E;}
