.illustration6
  top: 19%
  left: calc(15px + 8.333333%)
  max-width 524px
  width 100%
  z-index 1
  +mobile()
    position relative
    top auto
    left auto
    margin-top 150px
    margin-bottom 56px